/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 .app {
   margin-left: 5%;
   margin-right: 5%;
 }

 .div-left {
   float: left;
   width: 45%;
 }

 .div-right {
   float: right;
   width: inherit;
 }

 .header-container {
   max-width: inherit;
 }

 .header {
    height:30px;
    line-height:30px;
}

.header p {
    list-style-type:none;
    float:left;
}

.logo img{
  max-width: 25%;
  margin-left: 20px;
  padding-top:5px;
}

.signup img {
  max-height: 2em;
  display: block;
}

.signin img {
  max-height: 2em;
  display: block;
}

.signout img {
  max-height: 28px;
}


 .grid-container {
  margin: auto;
  padding: 10px;
 }

div .clubTile {
  height: 60px;
  line-height: 60px;
  padding: 15px;
  border: 1px solid #666;
  text-align: center;
  margin: 10px;
  background-color: lightgrey;
  border-radius: 7px;
}

body{
  background-image: url('homebackground.jpeg');
  background-size: cover;
  overflow: hidden;
}
.homePage {
}

.woods{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 270px;
}

.woodTiles:hover{
  margin-top: -8px;
}

.irons {
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 2px;
}

.ironTile {
  bottom:200px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: auto;
  height: 300px;
}

.ironTile:hover{
  margin-top: -8px;
}

.leftbutton {
  margin-top: -20%;
  margin-right: 5%;
  float: right;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
}

.rightbutton {
  margin-top: -20%;
  margin-left: 5%;
  float: left;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
}

.button:hover{
  background-color: green;
}

.button {
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;
  background-color: black;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.recomendedShots {
  background-color: grey;
  opacity: 50%;
}

.shotList {
  background-color: grey;
  opacity: 70%;
  width: 30%;
}
